<div class="max-w-6xl mx-auto">
  <p-menubar [model]="items">
    <ng-template pTemplate="end">
      <div class="flex flex-row gap-3">
        <p-button
          (onClick)="toggleDarkMode()"
          [icon]="isDark() ? 'pi pi-sun' : 'pi pi-moon'"
          severity="secondary"
          [pTooltip]="isDark() ? 'Switch to light mode' : 'Switch to dark mode'"
          tooltipPosition="left"
        />
        <p-chip [label]="username()!" image="avatar.png" alt="avatar" />
        <p-button (onClick)="logout()" icon="pi pi-sign-out" label="Logout" severity="secondary" />
      </div>
    </ng-template>
  </p-menubar>
</div>
