/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'tailwindcss-primeui';

h1 {
  font-size: xx-large;
}

.auth-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
