<div class="flex flex-col gap-2">
  <p-toolbar>
    <ng-template pTemplate="start" class="flex items-center gap-2">
      <div class="flex items-center gap-2">
      <p-button icon="pi pi-plus-circle" (click)="showCardDialog(null)" label="Create Card" />
</div>
    </ng-template>
  </p-toolbar>

  <p-confirmpopup />

  <p-dialog
    [header]="header()"
    [modal]="true"
    [(visible)]="dialogVisible"
    [style]="{ width: '42rem' }"
    [breakpoints]="{ '960px': '95vw', '640px': '98vw' }"
    [contentStyle]="{ overflow: 'auto' }"
  >
    <div class="p-2 md:p-4">
      @if (dialogVisible) {
        <app-card-designer
          [decks]="decks()"
          (upsertSuccess)="onUpsertSuccess($event)"
          [selectedCard]="selectedCard()"
        />
      }
    </div>
  </p-dialog>

  <p-table
    [value]="cards()"
    dataKey="id"
    [paginator]="true"
    [rows]="20"
    [rowsPerPageOptions]="[10, 20, 50]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 20%">Deck</th>
        <th style="width: 30%">Front</th>
        <th style="width: 40%">Back</th>
        <th style="width: 10%"></th>
      </tr>
      <tr>
        <th>
          <p-columnFilter field="deckName" matchMode="in" [showMenu]="false" matchMode="equals">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-select
                [options]="decks()"
                placeholder="Filter..."
                optionValue="name"
                optionLabel="name"
                (onChange)="filter($event.value)"
                appendTo="body"
                scrollHeight="500px"
              />
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="front"
            placeholder="Filter..."
            matchMode="contains"
            filterOn="input"
          />
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="back"
            placeholder="Filter..."
            matchMode="contains"
            filterOn="input"
          />
        </th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-card>
      <tr>
        <td>{{ card.deckName }}</td>
        <td>{{ card.front }}</td>
        <td>{{ card.back }}</td>
        <td>
          <div class="flex gap-1">
            <p-button icon="pi pi-pencil" (click)="showCardDialog(card)" />
            <p-button icon="pi pi-trash" (click)="confirmDelete($event, card)" severity="danger" />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
